html{
 font-size: 100px;
}
html, body, header,article, nav, ul, li{margin: 0; padding: 0;}
html, body, .container,.herder_bg {
    height: 100%;
}
*{
    box-sizing:border-box
}
ul, ol, dd {
  list-style-type:none;
  margin-left:0;
  padding-left:0;
 }
a {
 text-decoration:none;
 color:#1580da;
}

body{
  font-size:0.16rem;
  color: #ffffff;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}

/*隐藏百度地图logo*/
.BMap_cpyCtrl{display:none}
.anchorBL{display:none}

.container {
     padding:0.1rem;
     background-image: url(images/sybj.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color:#1b2852;
     font-family: 'microsoft yahei',Arial,sans-serif;

}

header {
    height: 8%;
    padding-bottom: 0.1rem;
}

.herder_bg{
    width: 100%;
    /*color: #6cbbe6;*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    background: url(images/2.png);
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

#switch_btn{
    background-image: url(images/4-1.png);
    width:0.45rem;
    height:0.45rem;
    position:absolute;
    top:0.2rem;
    right:0.2rem;
    z-index: 99999;
    background-size: cover;
}

article {
    width: 100%;
    height:92% ;
    padding-bottom: 0.1rem;
}

#hideleft{
    background-image: url(images/left.png);
    width:0.12rem;
    height:0.44rem;
    position:absolute;
    top:50%;
    left: 0;
    z-index: 99999;
}

#hideright{
    background-image: url(images/right.png);
    width:0.12rem;
    height:0.44rem;
    position:absolute;
    top:50%;
    right:0;
    z-index: 99999;
}

.wrap{
    width: 100%;
    height: 100%;
    float: left;

}

.wrap .center{
    margin:0 25%;
    height: 100%;
    background-image: url(images/5-3dt.png);
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    /*margin-left: 120%;*/

}

.left_margin,.right_margin{
    float: left;
    width: 25%;
    height: 100%;

}

.left_margin {
    margin-left: -100%;
    padding-right:0.15rem ;
}

.right_margin{
    margin-left: -25%;
    padding-left:0.15rem ;
}
.sun-div{
    width: 100%;
    height: 32%;
    background: url(images/1-2.png) no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    margin-bottom: 0.17rem;
    padding:0.15rem;
}

.sun-title{
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.1rem;
    font-size: 0.16rem;
    font-weight:normal;
    background: url(images/2-1.png) no-repeat;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}

.left-ec{
    width: 110%;
    height: 95%;
}

/* 右侧列表样式 */

.sun-div ul {
    padding: 0 15px;
}
.data-contents-height {
    box-sizing: border-box;
    min-height: 160px;
}

.sun-div ul li {
    /*     height: 30px;
         */    line-height: 30px;
    border-bottom: 1px solid rgba(67,104,199,.2);
    color: #3690ff;
}
.litext{
    display: inline-block;
    vertical-align:middle;
    width:70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255,255,255,.7);
    padding: 0 24px;
}
.litext hover{
    display: inline-block;
    vertical-align:middle;
    width:60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255,255,255,.7);
    padding: 0 24px;
}
.r {
    float: right;
}
.sun-div ul li span.unchanged1 {
    width:70px;
    text-align: center;
}

.sun-div ul li span.unchanged {
    padding: 0 0 0 5px;
    width:60px;
    text-align: right;
}
